<div class="testimonials__card">
  <div class="testimonials__card__stars d-flex">
    <img src="../../../../assets/star.png" alt="">
    <img src="../../../../assets/star.png" alt="">
    <img src="../../../../assets/star.png" alt="">
    <img src="../../../../assets/star.png" alt="">
    <img src="../../../../assets/star.png" alt="">
  </div>
  <p class="testimonials__card__body">{{testimonial.body}}</p>
  <div class="testimonials__card__data row align-items-center">
    <img src={{testimonial.imgSrc}} alt={{testimonial.name}}>
    <div class="col-8">
      <p class="testimonials__card__name">{{testimonial.name}}</p>
      <p class="testimonials__card__role">{{testimonial.role}}</p>
    </div>
  </div>

</div>