.blog {
  background-color: #f5f7fa;
  padding: 6rem 0;

  &__title {
    color: #324162;
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__par {
    font-size: 18px;
    color: #697694;
    margin-bottom: 60px;
  }
}