.schedule {
    padding-top: 10rem;

    &__heading {
        font-size: 3.4375rem;
        color: #324162;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    &__body {
        font-size: 18px;
        color: #697694;
        margin-bottom: 2rem;
    }
}