<header class="header">
  <app-home-navbar></app-home-navbar>
  <div class="container">
    <div class="header__form row">
      <h2 class="header__heading py-3">Instant collaboration for remote teams</h2>
      <p class="header__body pt-3 pb-5">All-in-one place for your remote team to chat, collaborate and track project
        progress.</p>
      <div class="row justify-content-between">
        <div class="col-8">
          <input type="text" class="form-control" placeholder="Your email">
        </div>
        <button class="btn col-4">Get Early Access</button>
      </div>
    </div>
  </div>
</header>
