<footer class="footer pt-5">
  <div class="container row mx-auto pb-5">
    <div class="col-lg-3 col-sm-6 col-8 ps-0">
      <p class="footer__title brand">team<span>.</span></p>
      <p class="footer__list">
        Collaboration platform
        <br>
        for modern teams.
      </p>
    </div>
    <div class="col-lg-2 col-sm-6 col-8">
      <p class="footer__title">Company</p>
      <ul class="footer__list">
        <li><a routerLink="about_us">About Us</a></li>
        <li><a routerLink="careers">Careers</a></li>
        <li><a routerLink="support">Support</a></li>
        <li><a routerLink="knowledgebase">Knowledgebase</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-sm-6 col-8">
      <p class="footer__title">Features</p>
      <ul class="footer__list">
        <li><a routerLink="screen_sharing">Screen Sharing</a></li>
        <li><a routerLink="iOS&android_apps">iOS & Android Apps</a></li>
        <li><a routerLink="file_sharing">File Sharing</a></li>
        <li><a routerLink="user_management">User Management</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-sm-6 col-8">
      <p class="footer__title">Contact Us</p>
      <ul class="footer__list">
        <li>info@teamapp.com</li>
        <li>1-800-200-300</li>
        <li>1010 Sunset Blv.
          <br>
          Palo Alto, California
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-sm-6 col-8 pe-0">
      <p class="footer__title">Stay up to date</p>
      <p class="footer__list">Subscribe to our newsletter</p>
      <form class="footer__form">
        <input type="text" class="form-control" placeholder="Email">
        <button class="btn" type="button">
          <mat-icon>east</mat-icon>
        </button>
      </form>
    </div>
  </div>
  <div class="container pb-3 pt-5">
    <p class="footer__copyright pt-5">© Copyright Team Inc.</p>
  </div>
</footer>