// global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

.btn {
  width: fit-content;
}

.container-left {
  margin-left: auto;
  max-width: 90%;
}

.container {
  margin: auto;
  max-width: 80%;
  padding: 0;
}

.more {
  color: #0bbef2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;

  .arrow {
    transition: ease-in-out;
  }

  &:hover {
    .arrow {
      padding-left: 5px;
    }
  }
}

@media screen and (max-width: 1536px) {
  .container-left {
    // max-width: ;
  }
}

// owl carousel styles
.owl-prev,
.owl-next {
  background-color: transparent !important;
}

.owl-next {
  margin-right: 209px !important;
}

.owl-theme .owl-nav {
  text-align: end;
}

.owl-stage {
  left: -80px;
}

.blog__navbar {
  nav {
    background-color: #f5f7fa;
  }
}

// pagination

.pagination-next,
.pagination-previous {
  display: none !important;
}

.ngx-pagination {
  li {
    color: #697694;
    width: 45px;
    height: 45px;
    padding-top: 8px;
    margin: 0 5px;
    border-radius: 5px !important;

    &.current,
    &:hover {
      background-color: rgba(105, 118, 148, 0.1);
      color: #697694;

      a {
        background-color: transparent;
      }
    }

    &.current {
      padding-top: 11px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .owl-next {
    margin-right: 308px !important;
  }
}