<section class="hub">
  <div class="container-left">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4 col-md-6 col-12">
        <h3 class="hub__heading">Your hub for teamwork</h3>
        <p class="hub__body">
          Project discussions, important documents, free food announcements: they all live tidily together in Team. With
          your team and information in one easily searchable place, collaborating online is as easy as collaborating in
          person.
        </p>

        <span class="more"><span>Learn More</span> &nbsp;&nbsp;<i class="arrow"><img
              src="../../../../assets/arrow_right_alt_24px.png" alt=""></i>
        </span>

      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <img class="w-100" src="../../../../assets/dashboard.png" alt="dashboard">
      </div>
    </div>
  </div>
</section>